/* Reset de margin e padding para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Estilo para o cabeçalho */
.header {
    padding: 1.5rem;
    text-align: left;
}

.title {
    margin-bottom: 10px;
}

/* Estilo para botões */
.add-btn, .edit-btn, .delete-btn, .submit-btn, .reset-btn, .cancel-btn {
    padding: 0.25rem 0.5rem;
    border: solid 1px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.add-btn:hover, .edit-btn:hover, .delete-btn:hover, .submit-btn:hover, .reset-btn:hover, .cancel-btn:hover {
    background-color: #555;
}

.add-btn {
    margin-top: 10px;
}

/* Estilo para a tabela */
.table-header {
    background-color: #55555555;
}

.table-container {
    margin: 0 1.5rem;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.data-table th, .data-table td {
    padding: 0.25rem;
    border: 1px solid #55555555;
    text-align: center;
}

/* Estilo para a coluna de Ações */
.actions-cell {
    white-space: nowrap;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

/* Estilo para o formulário */
.form-container {
    display: flex;
    margin: 0 1.5rem;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: flex-start;
}

.personal-data, .address-data {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.form-group {
    flex-basis: 25%;
    flex-grow: 0;
    margin-bottom: 0.5rem;
    
}

.input-field {
    width: 250px;
    padding: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Adicionando padding aos fieldsets */
